<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>string</key>
		<string>1/15</string>
		<key>value</key>
		<real>67</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/13</string>
		<key>value</key>
		<real>77</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/10</string>
		<key>value</key>
		<real>100</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/8</string>
		<key>value</key>
		<real>125</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/6</string>
		<key>value</key>
		<real>167</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/5</string>
		<key>value</key>
		<real>200</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/4</string>
		<key>value</key>
		<real>250</real>
	</dict>
	<dict>
		<key>string</key>
		<string>0&quot;3</string>
		<key>value</key>
		<real>300</real>
	</dict>
	<dict>
		<key>string</key>
		<string>0&quot;4</string>
		<key>value</key>
		<real>400</real>
	</dict>
	<dict>
		<key>string</key>
		<string>0&quot;5</string>
		<key>value</key>
		<real>500</real>
	</dict>
	<dict>
		<key>string</key>
		<string>0&quot;6</string>
		<key>value</key>
		<real>600</real>
	</dict>
</array>
</plist>
